{
    "plugins": ["jasmine"],
    "extends": ["airbnb-base/legacy", "plugin:jasmine/recommended"],
    "env": {
        "jasmine": true
    },
    "rules": {
        "no-param-reassign": ["warn"]
    }
}
